---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'svelte', 'vue', 'web-components'];
const description = `
  <p class="text-left">
    Photo By <a
      href="https://unsplash.com/es/@francescobiancoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Francesco Bianco</a
    > via <a
      class=" text-pgreen font-bold"
      href="https://unsplash.com/es/fotos/arte-mural-floral-dorado-y-azul-TVsgRyKJDc0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="About Me"
	description= {description}
	pubDate={new Date('20 April 2025')}
	heroImage="/src/assets/fran.jpg"
>
	<p>
		Currently I work @ Engineering in Taghash. I like the journey of solving problems because it gives me insight as to how things work. I'm interested in reading across various genres and topics. While I don't have specific preferences, I particularly enjoy engaging stories that capture my attention.
	</p>

	<p>
		Throughout this blog I want to share with you what I'm intrested in, be it; my journey of solving a particular problem, a random observation that I found intresting etc.
		Feedback/thoughts about what I've shared are always welcome.
		Feel free to connect with me :)
	</p>

	
</Layout>
